<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('layout/includeHeader') %>
  </head>
  <body>
    <%- include('layout/loader') %>
    <div id="cursor"></div>
    <div class="decoCircle"></div>
    <div class="smallDeco"></div>
    <span class="navPromptText"></span>
    <div class="navbar">
      <img class="select" description="Home" to="home" src="/images/icon-main.svg" alt="">
      <img description="UI/UX Design" to="uidesign" src="/images/icon-ui.svg" alt="">
      <img description="Development" to="webdev" src="/images/icon-coding.svg" alt="">
      <img description="Graphic Design" to="graphic" src="/images/icon-design.svg" alt="">
      <img description="Typography" to="typography" src="/images/icon-typo.svg" alt="">
      <img description="About Me" to="about" src="/images/icon-about.svg" alt="">
    </div>
    <div id="fullpage">
      <div class="section on" id="firstSection">
          <div class="logoContainer">
              <img class="mainLogo" src="/images/full-han.svg"" alt="">
          </div>
          <div class="decoContainer">
              <img src="/images/circleLine.svg" alt="">
              <div class="scrollPrompt" to="webdev">
                <p>Portfolio</p>
                <svg version="1.1" id="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 17 12" style="enable-background:new 0 0 17 12;" xml:space="preserve">
                  <path id="path" class="st0" d="M0,3.5c4.7-4.7,12.3-4.7,17,0L8.5,12L0,3.5z"/>
                </svg>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="sectionContainer new">
            <img src="https://ms300k-han.s3-ap-northeast-1.amazonaws.com/project-image/ui-design/ms300k.jpg" alt="" class="catePreview">
            <div class="cateTitle">UI Design<hr></div>
            <div class="cateEngTitle">介面<br>設計</div>
            <div class="decoButton">
              <button to="uidesign">See All</button>
              <div></div>
            </div>
            <div class="scrollPrompt" to="graphic" style="width: 100%; margin-top: 15vh;">
                <p>Development</p>
                <svg version="1.1" id="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 17 12" style="enable-background:new 0 0 17 12;" xml:space="preserve">
                  <path id="path" class="st0" d="M0,3.5c4.7-4.7,12.3-4.7,17,0L8.5,12L0,3.5z"/>
                </svg>
              </div>
          </div>
      </div>
      <div class="section">
        <div class="sectionContainer new">
          <img src="https://ms300k-han.s3-ap-northeast-1.amazonaws.com/project-image/ui-design/comm-thumbnail.jpg" alt="" class="catePreview">
          <div class="cateTitle">Development<hr></div>
          <div class="cateEngTitle">產品<br>開發</div>
          <div class="decoButton">
            <button to="webdev">See All</button>
            <div></div>
          </div>
          <div class="scrollPrompt" to="uidesign" style="width: 100%; margin-top: 15vh;">
              <p>Graphic Design</p>
              <svg version="1.1" id="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 17 12" style="enable-background:new 0 0 17 12;" xml:space="preserve">
                <path id="path" class="st0" d="M0,3.5c4.7-4.7,12.3-4.7,17,0L8.5,12L0,3.5z"/>
              </svg>
            </div>
        </div>
      </div>
      <div class="section">
          <div class="sectionContainer new">
            <img src="/images/graphicdesign.jpg" alt="" class="catePreview">
            <div class="cateTitle">Graphic Design<hr></div>
            <div class="cateEngTitle">平面<br>設計</div>
            <div class="decoButton">
              <button to="graphic">See All</button>
              <div></div>
            </div>
            <div class="scrollPrompt" to="typography" style="width: 100%; margin-top: 15vh;">
                <p>Typography</p>
                <svg version="1.1" id="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 17 12" style="enable-background:new 0 0 17 12;" xml:space="preserve">
                  <path id="path" class="st0" d="M0,3.5c4.7-4.7,12.3-4.7,17,0L8.5,12L0,3.5z"/>
                </svg>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="sectionContainer new">
            <img src="/images/typography.png" alt="" class="catePreview">
            <div class="cateTitle">Typography<hr></div>
            <div class="cateEngTitle">標準字<br>設計</div>
            <div class="decoButton">
              <button to="typography">See All</button>
              <div></div>
            </div>
            <div class="scrollPrompt" to="about" style="width: 100%; margin-top: 15vh;">
                <p>About Me</p>
                <svg version="1.1" id="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 17 12" style="enable-background:new 0 0 17 12;" xml:space="preserve">
                  <path id="path" class="st0" d="M0,3.5c4.7-4.7,12.3-4.7,17,0L8.5,12L0,3.5z"/>
                </svg>
              </div>
        </div>
      </div>
      <div class="section">
          <div class="sectionContainer new">
            <img src="/images/self.svg" alt="" class="catePreview self" style="width: 20%;float: left;padding: 45px;">
            <div style="float: right;display: inline-block;width: calc( 80% - 150px );">
              <div class="cateTitle">About Me<hr></div>
              <div class="aboutMeOuter"><p style="font-size: 15px;margin-top: 30px;">
                I'm Han, a designer, also a developer.
                <br>I built solid question-solving skills when I majored in computer science during my college time. However, to develop a good product, question-solving is not enough. To be specific, it is essential to define the question first. That's why HCI is critical to the software industry nowadays.
                <br>So in this portfolio, you can see my interface design skill, development experience, and some graphic/typography design work at the same time.
                <br>If you have any questions about the work, or want to cooperate, inquire, etc., please send Email to contact me!</p></div>
              <div class="aboutMeShadow"></div>
              <a href="mailto:whangwang0430@gmail.com" class="emailLink">Email<svg version="1.1" id="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 17 12" style="enable-background:new 0 0 17 12;" xml:space="preserve">
                  <path id="path" class="st0" d="M0,3.5c4.7-4.7,12.3-4.7,17,0L8.5,12L0,3.5z"/>
                </svg></a>
              <p style="margin-top: 0px;">whangwang0430@gmail.com</p>
            </div>
         </div>
      </div>
    </div>
    <script>
      $(document).on('click','.scrollPrompt, .navbar>img',function(){
        window.location = "#"+$(this).attr('to');
      });
      $(document).on('click','.sectionContainer button',function(){
        window.location = "/list/"+$(this).attr('to');
      });
      $(window).resize(function(){
        if($(window).width()<1024)$('.aboutMeOuter').addClass('mobile');
        else $('.aboutMeOuter').removeClass('mobile');
      });
      $(document).ready(function() {
        if($(window).width()<1024)$('.aboutMeOuter').addClass('mobile');
        else $('.aboutMeOuter').removeClass('mobile');
	      $('#fullpage').fullpage({
          scrollingSpeed: 1000,
          anchors: ['home', 'uidesign', 'webdev', 'graphic', 'typography', 'about'],
          normalScrollElements: '.aboutMeOuter.mobile',
          onLeave: function(origin, destination, direction){
            if(origin.index==0){
              $('.decoCircle').addClass('huge');
              $('.smallDeco').addClass('show');
            }else if(destination.index==0){
              $('.decoCircle').removeClass('huge');
              $('.smallDeco').removeClass('show');
            }
            $('.section').eq(origin.index).removeClass('on');
            $('.section').eq(destination.index).addClass('on');
            $('.section').eq(destination.index).find('.fp-tableCell>.sectionContainer').removeClass('new');
            $('.section').eq(origin.index).find('.fp-tableCell>.sectionContainer').addClass('new');
            $('.navbar>img').removeClass('select');
            $('.navbar').find('img').eq(destination.index).addClass('select');
            console.log(destination.index);
          }
        });
      });
      $('.navbar>img').hover(function(){
        $('.navPromptText').text($(this).attr('description'));
        $('.navPromptText').css('left',$(this).offset().left + (( 50 - $('.navPromptText').width() - 12 ) / 2));
        $('.navPromptText').css('top',$(this).offset().top + 60);
        $('.navPromptText').css('opacity','1');
      },function(){
        $('.navPromptText').css('opacity','0');
      });
    </script>
  </body>
</html>
