.detailTitle{
    width: calc( 50% - 15px );
    float: left;
}
.detailTitle>p{
    color: gray;
    width: 95%;
    margin-top: 30px;
}
.detailInfo{
    width: calc( 50% - 45px );
    float: right;
    padding: 15px;
    border: 1px solid #DDAE2C;
    margin-top: 30px;
}
.detailInfo table{
    width: 100%;
}
.detailInfo td{
    height: 37px;
    font-size: 14px;
    line-height: 25px;
    padding-top: 5.5px;
    vertical-align: top;
}
.detailInfo th{
    text-align: left;
    height: 37px;
    padding-left: 15px;
    font-size: 14px;
    vertical-align: top;
    padding-top: 5.5px;
    line-height: 25px;
}
.detailTitleBanner{
    margin-top: 60px;
}
.detailTitleContainer{
    display: inline-block;
    width: 100%;
}
.detailContentContainer{
    width: 100%;
    background-color: #fff;
    min-height: 200px;
    margin-top: 45px;
    margin-bottom: 45px;
}
.detailContent{
    width: 100%;
    margin: auto;
}

body{
    background-color: #EAEAEA;
}
.decoCircle{
    display: none;
}
@media (max-width: 480px){
    .detailTitleBanner{
        margin-top: 0px;
    }
    .cateTitle{
        margin-top: 0px;
    }
    .detailContentContainer{
        width: calc( 100% + 30px );
        margin-left: -15px;
    }
    .detailContent>p{
        padding: 0px 15px;
    }

    .detailContent .imgtl{
        margin-top: 60px;
    }
    
    .detailContent .imgtl div{
        width: calc( 100% - 30px );
        margin-left: 15px;
        vertical-align: top;
    }
    
    .detailContent .imgtl img{
        width: 100%;
        margin-left: 0px;
    }
    .detailContent .imgtr{
        margin-top: 60px;    
        display: flex;
        flex-direction: column-reverse;
    }
    
    .detailContent .imgtr div{
        width: calc( 100% - 30px );
        margin-left: 15px;
        vertical-align: top;
    }
    
    .detailContent .imgtr img{
        width: 100%;
        margin-left: 0px;
    }
}