body {
  background-color: #EFEFEF;
  position: relative;
  margin: 0;
}

* {
  cursor: none!important;
}

*::selection {
  background: #EFE8D5; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #EFE8D5; /* Gecko Browsers */
}

.web-loader{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #f4f3f1;
}

.web-loader img{
  width: 100px;
  margin-left: calc( 50vw - 50px );
  margin-top: calc( 50vh - 50px );
}

#cursor{
  width: 15px;
  height: 15px;
  background-color: lightgray;
  position: fixed;
  border-radius: 50px;
  opacity: .8;
  z-index: 1000000;
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s, margin-left 0.3s, margin-top 0.3s;
  margin-left: -7.5px;
  margin-top: -7.5px;
}

#cursor.onHover{
  opacity: .4;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}

.clickEff{
  position: fixed;
  margin-left: -7.5px;
  margin-top: -7.5px;
  width: 15px;
  height: 15px;
  transition: width 0.5s, height 0.5s, opacity 0.5s, margin-left 0.5s, margin-top 0.5s;
  opacity: 1;
  background-color: lightgray;
  border-radius: 100%;
  pointer-events: none;
  z-index: 100000;
}

.clickEff.start{
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  opacity: 0;
}

.navbar{
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 1000;
}

.navbar>img{
  display: inline-block;
  width: 50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .3;
  margin-right: 15px;
  transition: filter 1s, -webkit-filter 1s, opacity 1s;
}

.navbar>img:hover{
  opacity: .5;
}

.navbar>img.select{
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.decoCircle{
  background-color: #EAEAEA;
  height: 120vh;
  width: 120vh;
  position: fixed;
  top: -10vh;
  border-radius: 120vh;
  left: calc( 50vw - 60vh );
  z-index: -1;
  transition: width 1s, border-radius 1s, left 1s;
}

.decoCircle.huge{
  width: 100vw;
  border-radius: 0px;
  left: 0px;
}

.mainLogo{
  height: 100px;
}

.logoContainer{
  width: 100vw;
  text-align: center;
}

.decoContainer{
  width: 100vw;
  text-align: center;
  margin-top: 20vh;
}

.decoContainer>img{
  width: 40px;
}

.scrollPrompt{
  width: 100vw;
  text-align: center;
  margin-top: 10vh;
}

.section{
  transition: opacity 0.5s;
  opacity: 0;
}

.section.on{
  opacity: 1;
}

.scrollPrompt>svg{
  width: 15px;
  margin-top: 15px;
}

.scrollPrompt>svg>path{
  fill: #DDAE2C;
}

.scrollPrompt>p{
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #DDAE2C;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 15px;
  margin: 0px auto 0px auto;
}

.sectionContainer{
  width: 100%;
  margin: auto;
  max-width: 1000px;
  padding: 0px 15px 0px 15px;
}

.catePreview{
  width: 50%;
  border: 1px solid #DDAE2C;
  padding: 8px;
  float: right;
  transition: margin-top 1s;
  transition-delay: 0.5s;
  -moz-transition-delay: 0.5s; /* Firefox 4 */
  -webkit-transition-delay: 0.5s; /* Safari 和 Chrome */
  -o-transition-delay: 0.5s;
  margin-top: 0px;
}

.cateTitle{
  font-size: 50px;
  color: #261F19;
  display: inline-block;
  border-right: 1px solid #DDAE2C;
  margin-top: 0px;/* Opera */
  transition: margin-top 1s;
  transition-delay: 0.5s;
  -moz-transition-delay: 0.5s; /* Firefox 4 */
  -webkit-transition-delay: 0.5s; /* Safari 和 Chrome */
  -o-transition-delay: 0.5s; 
}

.cateTitle>hr{
  margin-top: -18px;
  margin-bottom: 15px;
  border: 1px solid #DDAE2C;
}

.smallDeco{
  position: fixed;
  height: 80vh;
  width: 80vh;
  top: 10vh;
  border: 1px solid gray;
  left: calc( 50vw - 40vh - 1px );
  border-radius: 80vh;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}

.smallDeco.show{
  opacity: 1;
}

.navPromptText{
  position: absolute;
  opacity: 0;
  padding: 5px;
  border: 1px solid #DDAE2C;
  color: #DDAE2C;
  font-size: 15px;
  font-weight: 800;
  border-radius: 5px;
  transition: opacity 0.3s;
}

.cateEngTitle{
  font-weight: 200;
  font-size: 30px;
  color: #DDAE2C;
  margin-top: 15px;
}

.decoButton{
  position: relative;
  display: inline-block;
  margin-top: 45px;
}

.decoButton>button{
  width: 150px;
  height: 37px;
  border: 0px;
  outline: none;
  border-radius: 37px;
  color: white;
  background-color: #DDAE2C;
  cursor: pointer;
  font-size: 15px;
}

.decoButton>div{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 37px;
  border: 1px solid #DDAE2C;
  left: 10px;
  top: 9px;
  z-index: -1;
}

.decoButton>button:hover{
  background-color: #D69F16;
}

.decoButton>button:hover+div{
  border-color: #D69F16;
}

.sectionContainer{
  opacity: 1;
  transition: all 1s;
  transition-delay: 1s;
  -moz-transition-delay: 1s; /* Firefox 4 */
  -webkit-transition-delay: 1s; /* Safari 和 Chrome */
  -o-transition-delay: 1s;
}

.sectionContainer.new{
  opacity: 0;
}

.sectionContainer.new>.cateTitle{
  margin-top: -300px;
}

.sectionContainer .new>.catePreview{
  margin-top: 300px;
}

.scrollPrompt *{
  user-select: none;
}

.emailLink{
  color: #DDAE2C;
  text-decoration: none;
  font-weight: 800;
  margin-top: 30px;
}

.emailLink>svg{
  transform: rotate(-90deg);
  margin-left: 15px;
  width: 13px;
}

.emailLink>svg>path{
  fill: #DDAE2C;
}

@media (max-width: 1024px) {
  body{
    background-color: #EAEAEA;
  }
  .decoCircle{
    display: none;
  }
  .navbar{
    display: none;
  }
  .catePreview{
    float: unset;
    display: block;
    width: 70%;
  }
  .sectionContainer{
    padding: 0px calc( 15% - 10px ) 0px calc( 15% - 10px );
  }
  .cateTitle{
    margin-top: 10vh;
  }
  .scrollPrompt{
    display: none;
  }
  .catePreview.self{
    float: unset!important;
    display: block;
  }
  .catePreview.self+div{
    float: unset!important;
  }
}

@media (max-width: 480px) {
  .mainLogo{
    width: 50%;
    height: auto;
  }
  .sectionContainer{
    padding: 0px calc( 10% - 10px ) 0px calc( 10% - 10px );
  }
  .catePreview{
    width: 80%;
  }
}

.wrapper{
  background-color: #F4F4F5;
  min-height: 100vh;
}

/* ---- grid ---- */

.grid {
  background: transparent;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: calc(50% - 15px);
}

.grid-item {
  float: left;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.grid-item img {
  display: block;
  max-width: calc( 100% - 10px );
  width: calc( 100% - 10px );
  padding: 5px;
  border: 1px solid gray;
  transition: border 0.3s;
}

.grid-item:hover img{
  border: 1px solid #DDAE2C;
}

.grid-item .info{
  opacity: 0;
  background-color: rgba(221, 174, 44, 0.8);
  color: white;
  padding: 15px;
  transition: opacity 0.3s;
  position: absolute;
  width: calc( 100% - 28px );
  bottom: 0px;
}

.grid-item .info>h5{
  font-size: 18px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
}

.grid-item .info>p{
  margin-top: 5px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;     /* fallback */
  max-height: 40px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.grid-item:hover .info{
  opacity: 1;
}

.grid-container{
  margin-top: 40px;
  width: 1170px;
  margin-left: calc( 50vw - 585px );
  display: inline-block;
}

.web-loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #EAEAEA;
}

.web-loader img{
  width: 100px;
  margin-left: calc( 50vw - 50px );
  margin-top: calc( 50vh - 50px );
}

.hover-show{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  padding: 15px;
  opacity: 0;
  transition: opacity 0.5s;
  box-sizing: border-box;
  user-select: none;
}

.hover-title{
  color: white;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.hover-description{
  color: lightgray;
}

.hover-show-content{
  bottom: 0px;
  position: absolute;
  width: 100%;
  margin-left: -15px;
  padding: 15px;
}

.grid-item:hover .hover-show{
  opacity: 1;
}

.detail-header{
  padding-top: 100px;
  padding-bottom: 100px;
}

.detail-header h4{
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #C09A57;
}

.detail-header label{
  font-weight: normal;
}

.detail-header button{
  width: 40px;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.hamburger-inner{
  background-color: #C09A57;
}

.hamburger-inner:before{
  background-color: #C09A57;
}

.hamburger-inner:after{
  background-color: #C09A57;
}

.detail-header button:hover{
  background-color: transparent;
}

.cateNavbar{
  position: fixed;
  right: 30px;
  top: 40px;
  z-index: 1000;
}

.cateNavbar>img{
  width: 50px;
}

.cateNavbar>div{
  display: none;
  background-color: rgba(255,255,255,0.8);
  padding: 10px 15px 5px 15px;
  border-radius: 60px;
  margin-right: 15px;
  transition: background-color 0.3s;
}

.cateNavbar>div:hover{
  background-color: rgba(255,255,255,1);
}

.cateNavbar>div>img{
  width: 50px;
  margin-left: 5px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.cateNavbar>div>img:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.cateNavbar>div>img:first-of-type{
  margin-left: 0px;
}

.cateNavbar:hover{
  top: 30px;
}

.cateNavbar:hover>div{
  display: inline-block;
}

@media only screen and (max-width: 1200px){
  .grid-container{
    width: 970px;
    margin-left: calc( 50vw - 485px );
  }
}

@media only screen and (max-width: 992px){
  .grid-container{
    width: 750px;
    margin-left: calc( 50vw - 375px );
  }
  .grid-sizer,
  .grid-item {
    width: calc(50% - 10px);
  }
  .hover-show{
    opacity: 1;
    background-color: transparent;
  }
  .hover-show-content{
    background-color: rgba(0,0,0,0.3);
  }
}

@media only screen and (max-width: 768px){
  .grid-container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
  }
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .detail-header{
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
